<header>
  <img src="/assets/logo.jpg" />
  <button>Devină un host</button>
</header>
<div class="feature">
  <img
    src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_13/2798361/190325-rental-cars-cs-229p.jpg"
  />
  <div>
    <h1>Găsește-ți mașina</h1>
    <p>Explorează cea mai mare piață de car sharing din lume</p>
  </div>
</div>
<main>
  <section class="details">
    <img
      src="https://resources.turo.com/f/81934/416x284/6e085cbe0e/image_outdoors_416x285.jpg"
    />
    <div>
      <h1>
        Găsește-ți mașina perfectă pentru
        <span class="highlight">a cuceri lumea</span>
      </h1>
      <p>
        Mergeți pregătit într-un 4x4 robust pentru a merge cu ușurință pe
        drumurile de iarnă, sau într-o camionetă pentru a vă duce la copaci.
      </p>
    </div>
  </section>
  <section class="details">
    <div>
      <h1>
        <span class="highlight">Găsește-ți mașina perfectă</span> pentru a vă
        perfecționa planurile de vacanță
      </h1>
      <p>
        Omiteți închirierea de mașini și găsiți mașina perfectă pentru a vă
        completa atmosfera de vacanță.
      </p>
    </div>
    <img
      src="https://resources.turo.com/f/81934/416x284/929b21c4fa/image_upgrade_416x285.jpg"
    />
  </section>
  <section class="details">
    <img
      src="https://resources.turo.com/f/81934/416x284/1e828ae782/image_scenic_416x285.jpg"
    />
    <div>
      <h1>
        Găsește-ți mașina perfectă pe care să o încercați înainte de a cumpăra
      </h1>
      <p>
        Asigurați-vă că viitoarele roți funcționează bine cu stilul dvs. de
        viață, luându-vă timp pe scaunul șoferului.
      </p>
    </div>
  </section>
  <section class="destination">
    <h1>Destinații</h1>
    <div class="wrapper">
      <article>
        <img src="/assets/los.png" alt="" />
        <span>Los Angeles</span>
      </article>
      <article>
        <img src="/assets/san.png" alt="" />
        <span>Miami</span>
      </article>
      <article>
        <img src="/assets/denver.png" alt="" />
        <span>Honolulu</span>
      </article>
      <article>
        <img src="/assets/honolulu.png" alt="" />
        <span>Sydney</span>
      </article>
      <article>
        <img src="/assets/washington.png" alt="" />
        <span>Londra</span>
      </article>
      <article>
        <img src="/assets/london.png" alt="" />
        <span>Denver</span>
      </article>
    </div>
  </section>
</main>
<footer>©2023 MCYC</footer>
